<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>LIZEZ MOI (version @JSESHVERSION@)</title>
  </head>

  <body>
    <h1>CD de distribution de JSesh (version @JSESHVERSION@)</h1>


    Bonjour, ce CD contient une version de JSesh, &eacute;diteur de
    hi&eacute;roglyphes en logiciel libre.

    <p>Pour installer JSesh, votre machine doit disposer d'un
    interpr&eacute;teur java. C'est le cas de tous les Macintosh sous
    MacOSX. Par contre, si vous avez un PC sous windows, vous
    trouverez plusieurs versions de java dans le r&eacute;pertoire <a
    href="JRE">JRE</a>. Je vous sugg&egrave;re de lancer <a
    href="JRE/j2re-1_4_2_06-windows-i586-p.exe">j2re-1_4_2_06-windows-i586-p.exe</a>.

    <p> Il vous suffira ensuite de double-cliquer sur 
      <a href="JSesh-install.jar"> JSesh-install.jar </a>

    <p> Le CD contient un certain nombre de textes lisibles par JSesh
    dans le r&eacute;pertoire <a href="Textes">Textes.</a>
      
    <P> Si le logiciel d'installation ne fonctionne pas, vous pouvez
      toujours copier le contenu du r&eacute;pertoire <a
      href="sauvegarde">sauvegarde</a> sur votre disque dur. Il
      contient une version de JSesh que vous pouvez lancer en cliquant sur 
      <a>sauvegarde/JSesh/libs/jsesh.jar</a>

    <p> JSesh est un logiciel libre distribu&eacute; sous la licence
    LGPL. Vous pouvez le copier, et le distribuer librement. S'il vous
    est utile, vous &ecirc;tes cordialement invit&eacute; &agrave; choisir un (ou
    plusieurs !) textes, &agrave; les saisir dans JSesh, et &agrave; me les exp&eacute;dier
    &agrave; l'adresse <a
    href="mailto:rosmord@iut.univ-paris8.fr">rosmord@iut.univ-paris8.fr</a>. Je
    les int&eacute;grerai dans la base de textes. Quand JSesh sera dot&eacute; d'un
    &eacute;diteur de signes, vous pourrez aussi proposer de nouveaux
    hi&eacute;roglyphes.

    <p> Vous pouvez aussi, et c'est m&ecirc;me fortement conseill&eacute;, me
      faire part de vos observations, des fonctionnalit&eacute;s que vous
      jugeriez int&eacute;ressantes, des bugs que vous observez, etc.

    <hr>
    <address><a href="mailto:rosmord@iut.univ-paris8.fr">ROSMORDUC Serge</a></address>
<!-- Created: Wed Dec  8 21:22:34 GMT 2004 -->
<!-- hhmts start -->
Last modified: Tue Apr 26 16:19:43 CEST 2005
<!-- hhmts end -->
  </body>
</html>
